# Conditional statement

In [1]:
# if statement

In [2]:
x= 10
if x>5:
     print('x is greater ', x)

x is greater  10

In [3]:
#if- else statement

In [6]:
x= 2
if x>5:
     print(f'value of x is {x} which is greater')
else:
    print(f'value of x is {x} which is smaller')

value of x is 2 which is smaller

In [8]:
# if-elif-else

In [10]:
marks=65
if marks > 60:
    print(f'first class with {marks}')
elif marks>35:
    print(f'Pass class with {marks}')
else:
    print(f'failed with {marks}')

first class with 65

In [11]:
#nested conditional statement

In [14]:
number = -45
if number>0:
    if number%2 ==0:
            print('number is positive and even')
    else:
         print('number is negative and even')
elif number<0:
    if number%2 ==0:
            print('number is positive and odd')
    else:
         print('number is negative and odd)
else:   
    print('the number is 0')

number is negative and even

# input function

In [15]:
input('enter your name')

enter your name ritesh

'ritesh'

In [18]:
num_str=input('Please enter a number, to calculate its square:')
sq_num= int (num_str)**2
print(f'square of a {num_str} is {sq_num}')

Please enter a number, to calculate its square: 10

square of a 10 is 100

In [21]:
fav_color=input('please enter your favorite colour:')
print(f'your favourite colour is:{fav_color}')

please enter your favorite colour: red

your favourite colour is:red

# Loop in Python

# 1.while

In [23]:
num=0
while num<10:
    print('number is',num)
    num=num+1 #num+=1

number is 0
number is 1
number is 2
number is 3
number is 4
number is 5
number is 6
number is 7
number is 8
number is 9

# For Loop

In [25]:
a='python'
for char in a:
    print(char)

p
y
t
h
o
n

# control statement

# break

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

# continue

In [30]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

# pass

In [31]:
for i in range(5):
    if i%2==0:
        pass
    else:
        print('num is odd',i)

num is odd 1
num is odd 3

# loop with string

In [33]:
input_string='python is easy to learn'
reverse_string=''
for char in input_string:
    reverse_string=char+reverse_string
    print(reverse_string)

print('original:',input_string)
print('reverse:',reverse_string)

p
yp
typ
htyp
ohtyp
nohtyp
 nohtyp
i nohtyp
si nohtyp
 si nohtyp
e si nohtyp
ae si nohtyp
sae si nohtyp
ysae si nohtyp
 ysae si nohtyp
t ysae si nohtyp
ot ysae si nohtyp
 ot ysae si nohtyp
l ot ysae si nohtyp
el ot ysae si nohtyp
ael ot ysae si nohtyp
rael ot ysae si nohtyp
nrael ot ysae si nohtyp
original: python is easy to learn
reverse: nrael ot ysae si nohtyp

In [34]:
word='python'
new_word=''
for i in word:
    new_word=new_word+i

    print(new_word)

p
py
pyt
pyth
pytho
python

# user defined function

In [35]:
# create a function , which accept a number and return a square

In [36]:
def square(num):
    """ The function calculates the square """
    result= num**2
    return result

In [37]:
# call the function

In [38]:
res=square(7)

In [39]:
res

49

In [40]:
print('Square of number 9 is ',square(9))

Square of number 9 is  81

In [41]:
# Greeting function

In [42]:
def greet():
    print('Hello')

In [43]:
greet()

Hello

# Default Argument function

In [3]:
def greeting(name,greeting='Hello'):
    print(f'{greeting},{name}')

In [4]:
greeting('Alice')

Hello,Alice

In [5]:
def greeting(name,greeting='Namaste'):
    print(f'{greeting},{name}')

In [6]:
greeting('Alice') #not paassing greetings

Namaste,Alice

In [51]:
# variable length arguments(args)

In [52]:
def multiple(*args):
    result=1
    for num in args:
        result=result*num
    return result

In [53]:
multiple(1,2)

2

In [54]:
 multiple(1,2,3)

6

In [55]:
multiple(2,3,4)

24

In [56]:
# variable length arguments(kwargs)

In [59]:
def display_info(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [60]:
display_info(name='Alice',age=25,city='borderland')

name:Alice
age:25
city:borderland

In [61]:
    # Recursive Function

In [62]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)

In [63]:
factorial(5)

120

# Variable Scope

In [64]:
#global variable

In [65]:
a=10 # global variable

In [67]:
def my_function():
    new_var=7 # locl variable
    print('global varible:',a)
    print('local varible:', new_var)

In [69]:
print(my_function())

global varible: 10
local varible: 7
None

# User authentication

In [71]:
def login(username,password):
    #check the username and password
    user=['alwyn','mark','eva']
    passwd=['alwyn123','mark@123','eva789']
    if username in user  and password in passwd:
            return 'User is authenticated'
    else:
            return 'user authentication failed'

In [72]:
login('alwyn','123')

'user authentication failed'

In [73]:
login('eva','eva789')

'User is authenticated'

# Nested Function

In [75]:
def outer_func(x):
    print(x)
    def inner_func(y):# closure function
        return x+y  
    return inner_func

In [76]:
closure=outer_func(5)

5

In [77]:
result=closure(10)

In [78]:
print(result)

15

# lambda Function

In [79]:
def add(x,y):
    sum=x+y
    return sum

In [80]:
add(1,2)

3

In [81]:
addition = lambda x,y : x+y
addition(4,5)

9

In [82]:
# square Number

In [83]:
sqr=lambda x :x**2

In [84]:
sqr(7)

49

In [85]:
#lambda function check if a number is even

In [86]:
check=lambda x:x%2==0

In [87]:
check(2)

True

In [88]:
#lambda function check if a number is even or odd

In [89]:
check=lambda x:'even' if x%2==0 else 'odd'

In [90]:
check(3)

'odd'

# use of Lambda function

In [91]:
student=[
    {'name':"Alice","score":95},
    {'name':"Ram","score":88},
    {'name':"Eva","score":92}
]

In [92]:
print(student)

[{'name': 'Alice', 'score': 95}, {'name': 'Ram', 'score': 88}, {'name': 'Eva', 'score': 92}]

In [93]:
sort_student=sorted(student,key=lambda student:student['score'],reverse='True')

In [94]:
sort_student

[{'name': 'Alice', 'score': 95},
 {'name': 'Eva', 'score': 92},
 {'name': 'Ram', 'score': 88}]

In [95]:
sort_student=sorted(student,key=lambda student:student['score'],reverse='False')

In [96]:
   sort_student

[{'name': 'Alice', 'score': 95},
 {'name': 'Eva', 'score': 92},
 {'name': 'Ram', 'score': 88}]

# Excepption Handling in python

In [97]:
# syntax error

In [98]:
print("ram"

_IncompleteInputError: incomplete input (3454455852.py, line 1)

In [99]:
#type error

In [100]:
a= 'ritesh'

In [101]:
b=5

In [102]:
a+b

TypeError: can only concatenate str (not "int") to str

In [103]:
#zero division error

In [104]:
10/0

ZeroDivisionError: division by zero

In [105]:
# try except handle

In [109]:
try :
    result=10/0
except:
    print('error')

error

In [7]:

try:
    print(result=10/0)
except ZeroDivisionError:
    print('error')

error

In [115]:
try:  
    print('ritesh'+5)
    result=10/0
except ZeroDivisionError:
    print('error')
except TypeError:
    print('error')

error

# finally block

In [121]:
def div(x,y):
    try:  
        result=x/y
        return result 
    except:
        print('exception as occured')
    finally :
        print('finally block always execute')

In [122]:
div(3,5)

finally block always execute

0.6

In [123]:
div(3,0)

exception as occured
finally block always execute

In [ ]:
def num_type():
    try:
        num=int(input('please enter a number'))
        if num>0:
            return f"{num} is "